body {
	text-align:center;
	background-color: rgb(255, 242, 230); 	
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;
	font-size:16px;
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
}

section {
	width:100%;
}

header {
	margin:0;
}

p {
	font-size:165%;
	font-family: "Calibri", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-left: 5%;
	margin-right:5%;
	padding-left:10%;
	padding-right:10%;
}

nav {
	
	text-align: center;
	position:fixed;
	top:0;
	width:100%;
	background-color: rgba(0, 0, 51,0.9);
	margin-top:0;
	z-index:2;
}

nav a {
	text-decoration:none;
	padding-right: 2%;
	padding-left: 2%;
	font-size:100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFFFFF;
	text-align:center;	
}

nav a:hover {
	background-color: rgba(255, 242, 230,0.8);
	color: #000000;
}

nav .active {
	background-color: rgb(255, 242, 230);
	color: #000000;
}

.closebtn {
	display:none;
}

footer {
	text-align: center;
	background-color: rgba(0, 0, 51,0.9);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFFFFF;
	padding-left:0;
	padding-right:0;
	padding-top:2%;
	padding-bottom:2%;
	margin-top:5%;
	margin-left:0;
	margin-right:0;
}

footer p:first-child {
	font-size:105%;
	padding-left:0;
	padding-right:0;
	padding-top:0;
	padding-bottom:0;
	margin-left:0;
	margin-right:0;
}

footer p:last-child {
	
	font-size:90%;
	padding-left:0;
	padding-right:0;
	padding-top:0;
	padding-bottom:0;
	margin-left:0;
	margin-right:0;
}


h3 {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-variant: small-caps;
	color: rgba(0, 0, 51,0.9);
	font-size:185%;
	padding:2%;
}

#aboutus {
	margin-top: 10%;
}

/* The animation code for bg images */
@keyframes appear {
    from {opacity:0;}
    to {opacity: 1;}
}

.fixed-bg {
	background-color: rgba(0, 0, 51,0.9);
	background-image: url("../Images/coverpic2.jpg");
    min-height: 500px;
	width:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin-top:5%;
	z-index: -1;
	text-align: center;
	display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
	-webkit-animation-name: appear;
	-webkit-animation-duration: 5s;
	animation-name: appear;
    animation-duration: 5s;
	
}

.fixed-bg div{
	font-family: 'Cinzel Decorative', cursive;
	color: #FFFFFF;
	text-shadow: 0 0 4px #000000, 0 0 4px #000000, 3px 3px 4px #000000;
	letter-spacing: 15px;
	-webkit-flex: 1; /* Safari 6.1+ */
	flex: 1;
	
}


.headings h1{
	font-size: 400%;
	font-weight:600;
	
}

.headings h2{
	font-size:200%;
	font-weight:600;
	font-variant: small-caps;
	
}

figure {
	display: inline-block;
	width:30%;
	
}

.leftimage{
	float:left;
	margin-left:10%;
	margin-right:1%;
	
}

.rightimage{
	float:right;
	margin-left:1%;
	margin-right:10%;
	
}

#weddingevents {
	clear:both	
}

.weddingfixedbg , .rsvpfixedbg, .storyfixedbg, .giftsfixedbg, .accomodationsfixedbg,.accomodationsfixedbg, .galleryfixedbg{
	background-color: rgba(0, 0, 51,0.9);
	background-image: url("../Images/rupapic5.jpg");
    min-height: 400px;
	width:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin-top:5%;
	z-index: -1;
	text-align: center;
	display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
	-webkit-animation-name: appear;
	-webkit-animation-duration: 5s;
	animation-name: appear;
    animation-duration: 5s;
}

.weddingfixedbg h1, .rsvpfixedbg h1, .storyfixedbg h1, .giftsfixedbg h1,.accomodationsfixedbg h1, .galleryfixedbg h1{
	font-family: 'Cinzel Decorative', cursive;
	font-size: 400%;
	font-weight:600;
	color: #FFFFFF;
	text-shadow: 0 0 4px #000000, 0 0 4px #000000, 3px 3px 4px #000000;
	letter-spacing: 15px;
	-webkit-flex: 1; /* Safari 6.1+ */
	flex: 1;
  
}	


button.accordion {
    background-color: #fce5cd;
    color: rgb(51, 51, 51);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
	font-family: "Calibri","Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 175%;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: rgb(255, 221, 153);
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: rgb(51, 51, 51);
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

div.panel {
    padding: 0 18px;
    background-color: #FFFFFF;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;  
}



/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top:0;
	top:50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.prev {
	left:0;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/*Image slideshow ingallery*/

.mySlides {
	text-align:center;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
	display:none;
	display:block;
	-webkit-border-radius:5%;
	border-radius:5%;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}


/* Slideshow container */
.slideshow-container {
	position: relative;
	display: inline-block;
	width:100%;
	margin: auto;
	
}

/*thumbnail images div in gallery*/
.w3-row-padding{
	background-color:rgba(0, 0, 51,0.9);
	-webkit-border-radius:1%;
	border-radius:1%;
	width: 90%;
    height: 10%;
    margin: auto;
    display: block;
    border: 1px solid #000;
    overflow: auto;
    white-space: nowrap;
	text-align: center;
}


/*thumbnail images*/
.w3-row-padding img{
	cursor:pointer;
	display:inline;
	margin: auto;
	padding:0;
	margin:1%;

}

/*Slideshow + Thumbnail div*/
.w3-content{
	width:100%;
	max-width:65%;
	margin: auto;
	margin-top: 2%;
}

.w3-border{
	border:2px solid #ccc!important;
	-webkit-border-radius:10%;
	border-radius:10%;
}

.w3-border-red{
	border-color:rgb(170, 20, 9)!important;
}

.w3-hover-shadow:hover{
	box-shadow:0 4px 8px 0 rgba(255, 242, 230,0.2),0 6px 20px 0 rgba(255, 242, 230,0.19)!important;
}

