body{
	background-image: url("../Images/coverpic2.jpg");
	background-repeat:no-repeat;
    background-size:cover;
	background-color: #000000;
	background-attachment: fixed;
    background-position: center;
	color: #FFFFFF;
}

header {
	margin-top:10%;
	margin-left:-30%;
	color: #000000;
	text-align: center;
	
}

footer {
	text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {

	background-color: #f1f1f1
}

.show {display:block;}

.container {
    display: inline-block;
    cursor: pointer;
	margin-top:3%;
	margin-left:33%;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}